

body{
    text-align: center;
}

.bar{
    margin-top: 10vh;
}
.bar input{
    margin-right: 1vw;
    border-radius: 5px;
    border: 1px solid black;
    height: 2rem;
    line-height: 3vh;
    font-size: 1rem;
}

.bar button{
    border: 1px solid black;
    border-radius: 5px;
    height: 2rem;
    font-size: 1rem;
}
.icon{
    height: 10vh;
}