@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');
*{
    font-family: 'Mingzat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
html{
    touch-action: manipulation;
}
body{
    background-color: #000000;
}

.container{
    position: relative;
    text-align: center;
    height: 100vh;
    padding-top: 40vh;
    background-color: rgb(201, 201, 201);
    padding-right: 2vw;
    padding-left: 2vw;
    width: 25vw;
}

.title{
    font-size: 2rem;
}

.containers{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

.button{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(32, 32, 32);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 10vw;
    height: 5vh;
    margin-top: 5vh;
    z-index: 100;
    cursor: pointer;
}

.button-hover{
    background-color: rgb(56, 56, 56);
}

.button-active{
    background-color: rgb(116, 116, 116);
}