*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    touch-action: manipulation;
}
body{
    background-color: #f1f5f9;
}

.calculator{
    
    position: absolute;
    background-color: white;
    width: 30vw;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    min-height: 60vh;
    border-radius: 20px;
}

.display{
    background-color: rgb(27, 27, 27);
    line-height: 15vh;
    min-height: 15vh;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    color: white;
    font-size: 4vw;
    text-align: end;
    padding-right: 1vw;
    width: 100%;
}

.keys{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    min-height: 50vh;
    
}

.equal-key{
  background-color: #ff783a;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
  border-bottom-right-radius: 20px;
 
}
  
.equal-key:hover{
    background-color: #d6673b;
    transition: 0.3s ease;
}

button{
    border: 1px solid black;
    font-size: 3rem;
}

button:hover{
    background-color: #b1b1b1;
    transition: 0.3s ease;
}

.zero{
    border-bottom-left-radius: 20px;
}

@media only screen and (max-width: 600px){

    .calculator{
        width: 90vw;
    }

    .display{
        font-size: 15vw;
    }
    .keys{
        width: 100%;
    }
}