.main-grid{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #f88181;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.425);
}

.box{
    border: 1px solid white;
    width: 12rem;
    height: 12rem;
    text-align: center;
    line-height: 12rem;
    font-size: 3rem;
    user-select: none;
}