body{
    height: 200vh;
}
.navbar{
    position: sticky;
    top: 0;
    display: flex;
    text-align: center;
    width: 100vw;
    justify-content: space-around;
    padding: 2.5vh 20vw;
    background-color: #ffffff;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.navbar h1{
    font-weight: 300;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.navbar h1:hover{
    color: rgb(131, 131, 131);
}